<!DOCTYPE html>
<html>
  <head>
    <title>Tattletale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <p>Tattletale</p>
    </header>
    <footer class="footer">
      <p>Created 2020 By N.N</p>
    </footer>
    <%= yield %>
  </body>
</html>
